extends layout 
 
block content 
  h1(class='container-fluid p-5 bg-primary text-center text-secondary ')= title 
 
  - let Movieid = toShow._id 
  - let movieName = toShow.movieName 
  - let movieType = toShow.movieType 
  - let durMin = toShow.durMin 
   
  div.row(class='justify-content p-2 bg-secondary mb-2') 
    div.mr-1 ID is 
    div #{Movieid} 
  - let actionid = "/resource/Movie/" + Movieid 
  form(id='MovieForm', action= actionid, method="PUT") 
    div.form-group 
        label.MovieAttr(for='movieName') Movie Name 
        input#movieName(type='text', name='movieName', value= movieName ) 
    div.form-group 
        label.MovieAttr(for='movieType') Movie Type 
        input#movieType(type='text', name='movieType', value= movieType ) 
    div.form-group 
        label.MovieAttr(for='durMin') durMin 
        input#durMin(type='number', name='durMin', value= durMin  ) 
    input(type="submit") 
 
  script. 
    document.forms['MovieForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.json();  
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 